.chartContainer {
    height: 500px;
    width: 50%;
    position: relative;
    margin: 40px
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

.form {
    align-items: center;
}

.parent {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .parent {
        display: inline;
    }
    .chartContainer {
        width: 85%;
    }
}